#listDiv{
    max-width: 90%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(3,32%);
    gap: 2%;
}

#listDiv>div {
    background-color: gainsboro;
    border-radius: 30%;
    padding: 20px;
    text-align: center;
}

.btnDiv{
    text-align: center;
    margin-top: 30px;
}

#listDiv button{
    cursor: pointer;
}

#listDiv p{
    background-color: cyan;
}

#listDiv h3{
    text-decoration:underline;
}

#listDiv textarea{
    resize: none;
    height: 50px;
}

.editDiv{
    background-color: gainsboro;
    border-radius: 30%;
    padding: 20px;
    text-align: center;
}

.editbtnDiv{
    margin-top: 40px;
}

.editDiv textarea{
    resize: none;
    height: 60px;
    width: 50%;


}
.editDiv input{
    
    height: 30px;
    width: 50%;


}